<center><h1>Employee Claims bill list</h1></center>
<div class="expense-container">
  <button class='btn-primary add_new_expense_btn' >Add new expense</button>
</div>
<div class="portal_list_table">
  <table class="table">
    <tr>
      <th>Employee</th>
      <th>Type of expense</th>
      <th>Amount</th>
    </tr>
    <% @bils_list.each do |obj| %>
      <tr>
          <td><%= obj.first_name%></td>
          <td><%=obj.claim_for%></td>
          <td><%=obj.amount%></td>
      </tr>
    <% end %>
  </table>
</div>
<script>
  $('.add_new_expense_btn').on('click', function(){
    location.href = "bils/create";
  });
</script>
