.body {
    color: black;
  }
  .employee_container{
    height: 418px;
    position: relative;
    border: 2px solid black;
    top: 50%;
    left: 26%;
    right: 50%;
    max-width: 50%;
    .employee_details {
        margin: 0;
        position: absolute;
        transform: translate(-50%, -50%);
      }
      .employee_name{
        top: 15%;
        left: 22%;
      }
      .employee_last_name{
        top: 15%;
        left: 80%;
      }
      .employee_email {
        top: 43%;
        left: 23%;
      }
      .employee_designation{
        top: 43%;
        left: 80%;
      }
      .employee_departments{
        top: 70%;
        left: 50%;
      }
      .employee_create_btn{
        top: 90%;
        left: 85%;
      }
      .cancel-btn{
        top: 90%;
        left: 65%;
      }
  }

.portal_list_table {
    padding-right: 140px;
    padding-left: 70px;
  }
  .employee-container{
    display: flex; 
    justify-content: end;
    padding: 10px 16px;
  }
  .expense-container{
    display: flex; 
    justify-content: end;
    padding: 10px 16px;
  }

  .expense_container{
    height: 418px;
    position: relative;
    border: 2px solid black;
    top: 50%;
    left: 26%;
    right: 50%;
    max-width: 50%;
    .claim_input {
        margin: 0;
        position: absolute;
        transform: translate(-50%, -50%);
      }
      .employee_name{
        top: 15%;
        left: 22%;
      }
      .expense_category{
        top: 15%;
        left: 75%;
      }
      .expense_date {
        top: 52%;
        left: 23%;
      }
      .expense_amount{
        top: 52%;
        left: 80%;
      }
      .cancel-btn{
        top: 90%;
        left: 78%;
      }
      .create_btn{
        top: 90%;
        left: 90%;
      }
  }
